export(doBC, evaluateDuplos, evaluatePCA, evaluateCorrection)

importFrom(MASS, rlm)
importFrom(fpc, bhattacharyya.dist)
importFrom(RColorBrewer, brewer.pal)
importFrom(ChemometricsWithR, PCA, scoreplot.PCA, scores.PCA)
importFrom(crch, crch)
## importFrom(survival, survreg, Surv)

## Import from default packages
importFrom(graphics, abline, axTicks, axis, hist,
           legend, lines, par, plot, points, text, title) 
importFrom(stats, aggregate, dist, quantile, rnorm, coef, cov,
           formula, lm, predict, sd, var)
importFrom(grDevices, colorRampPalette)
